<div ng-controller="adultController">
      <input ng-model="age"/>
      <span>You are <b ng-bind="majorOrMinorText()"></b></span>
</div>

<hr>

<div ng-controller="hideOrDisplayController">
    <label>Afficher le paragraphe</label>
    <input type="checkbox" ng-model="showContent"/>
    <p ng-show="showContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<hr>

<div ng-controller="helloWorldController">
    HELLO {{name}}!
</div>

<hr>

<div ng-controller="calculateController">
  <ul>
    <li ng-repeat="article in articles">
      <label>{{ article.name }}</label>
      <input ng-model="article.price">
      <input type="number" ng-model="article.quantity">
    </li>
  </ul>
  <div>
      <label>Total invoice: </label><span>{{total() | currency:"€":2}}</span>
  </div>
  <div>
      <label>Discount: </label><span>{{discount | currency:"€":2}}</span>
  </div>
  <div>
      <label>To pay: </label><span>{{finalTotal() | currency:"€":2}}</span>
  </div>

</div>

<hr>

<div>
  <div ng-controller="myTestController">
    <accordion>
      <!-- As the expander directive states 'EA' (Element and attribute) in the 'restrict' field
      We can use "expander" as a tag -->
      <expander class="expander" expander-title="title">
          {{ text }}
        </expander>
    </accordion>
  </div>
</div>

<hr>

<div ng-controller="SecondController">
    <accordion>
        <expander class="expander" expander-title="expander.title" ng-repeat="expander in expanders">
            {{expander.text}}
        </expander>
    </accordion>
</div>


<hr>
<h1>My reverse filter</h1>
<div ng-controller="myFilter">
  <span>{{greeting}}</span>
  <span>{{greeting | reverse}}</span>
  <span>{{greeting | reverse:true}}</span>
</div>
